<app-header Title={{title}}></app-header>

<div class="container-register">
    <form class="body">
        <div class="row">
            <div class="form-check col-6 radio-buttom">
                <input type="radio" class="form-check-input" id="receita" name="receita" [(ngModel)]="operationMoney.isIncome" [value]="receita" style="margin-top:7px">
                <label class="form-check-label" for="receita" style="margin-top:0px">Receita</label>
            </div>

            <div class="form-check col-6 radio-buttom">
                <input type="radio" class="form-check-input" id="despesa" name="despesa" [(ngModel)]="operationMoney.isIncome" [value]="despesa" style="margin-top:7px">
                <label class="form-check-label" for="despesa">Despesa</label>
            </div>
        </div>

        <div class="group">
            <input class="input-text" type="number" name="money" [(ngModel)]="operationMoney.money" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="label-name">Valor</label>
        </div>

        <div class="row row-select" *ngIf="!operationMoney.isIncome">
            <label class="my-1 mr-2" for="categoryId" style="font-size: 14px;">Categoria</label>
            <select class="custom-select my-1 mr-sm-2" [(ngModel)]="operationMoney.categoryId" name="categoryId" id="categoryId">
                  <option selected value="0">Selecione...</option>
                  <option *ngFor="let item of categoryExpense" value="{{item.id}}">{{item.name}}</option>
                </select>
        </div>

        <div class="row row-select" *ngIf="operationMoney.isIncome">
            <label class="my-1 mr-2" for="categoryId" style="font-size: 14px;">Categoria</label>
            <select class="custom-select my-1 mr-sm-2" [(ngModel)]="operationMoney.categoryId" name="categoryId" id="categoryId">
                      <option selected value="0">Selecione...</option>
                      <option *ngFor="let item of categoryIncome" value="{{item.id}}">{{item.name}}</option>
                    </select>
        </div>

        <div class="row" *ngIf="!operationMoney.isIncome">
            <div class="form-check col-6 radio-buttom">
                <input type="radio" class="form-check-input" id="avista" name="avista" [(ngModel)]="operationMoney.isCashPayment" [value]="avista" style="margin-top:7px">
                <label class="form-check-label" for="avista" style="margin-top:0px">A vista</label>
            </div>

            <div class="form-check col-6 radio-buttom">
                <input type="radio" class="form-check-input" id="parcelado" name="parcelado" [(ngModel)]="operationMoney.isCashPayment" [value]="parcelado" style="margin-top:7px">
                <label class="form-check-label" for="parcelado">Parcelado</label>
            </div>
        </div>

        <div class="group" *ngIf="!operationMoney.isCashPayment">
            <input class="input-text" type="number" name="amountInstallments" [(ngModel)]="operationMoney.amountInstallments" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label class="label-name">Nº parcelas</label>
        </div>

    </form>
</div>

<div class="bottom-button">
    <p>Salvar</p>
</div>