    body {
        background: #1f253d;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding-left: 0;
    }
    
    h1 {
        font-size: 23px;
    }
    
    h2 {
        font-size: 17px;
    }
    
    p {
        font-size: 15px;
    }
    
    a {
        text-decoration: none;
        font-size: 15px;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    h1,
    h2,
    p,
    a,
    span {
        color: #fff;
    }
    
    .scnd-font-color {
        color: #9099b7;
    }
    
    .titular {
        display: block;
        line-height: 60px;
        margin: 0;
        text-align: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .horizontal-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    
    .horizontal-list li {
        float: left;
    }
    
    .block {
        margin: 1em 2em;
        background: #394264;
        border-radius: 5px;
        float: left;
        width: calc(100% - 4em);
        overflow: hidden;
    }
    
    .menu-box {
        height: 360px;
    }
    
    .donut-chart-block {
        overflow: hidden;
    }
    
    .donut-chart-block .titular {
        padding: 10px 0;
    }
    
    .os-percentages li {
        border-left: 1px solid #394264;
        text-align: center;
        background: #50597b;
    }
    
    .os {
        margin: 0;
        padding: 6px 0 5px;
        font-size: 15px;
    }
    
    .os-percentage {
        margin: 0;
        padding: 0 0 15px 10px;
        font-size: 20px;
    }
    
    .donut-chart {
        position: relative;
        width: 200px;
        height: 200px;
        margin: 0 auto 2rem;
        border-radius: 100%
    }
    
    p.center-date {
        background: #394264;
        position: absolute;
        text-align: center;
        font-size: 28px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 130px;
        height: 130px;
        margin: auto;
        border-radius: 50%;
        line-height: 35px;
        padding: 23% 0 0;
    }
    
    .center-date span.scnd-font-color {
        line-height: 0;
    }
    
    .recorte {
        border-radius: 50%;
        clip: rect(0px, 200px, 200px, 100px);
        height: 100%;
        position: absolute;
        width: 100%;
    }
    
    .quesito {
        border-radius: 50%;
        clip: rect(0px, 100px, 200px, 0px);
        height: 100%;
        position: absolute;
        width: 100%;
        font-family: monospace;
        font-size: 1.5rem;
    }