<div>
    <div class="donut-chart-block block">
        <h2 class="titular">Mensal</h2>
        <div class="donut-chart">
            <div *ngFor="let item of chartValues">
                <div class="recorte" [ngStyle]="{transform: item.startChart}">
                    <div class="quesito" [ngStyle]="{backgroundColor: item.color, transform: item.sizeChart}"></div>
                </div>
            </div>
            <p class="center-date">OUT</p>
        </div>
        <ul class="os-percentages horizontal-list" *ngFor="let item of chartValues">
            <li [style.width.%]="categorySize" *ngIf="item.percentage > 0">
                <div [ngStyle]="{backgroundColor: item.color}" [style.width.%]="100" [style.height.px]="4"></div>
                <p class="os scnd-font-color">{{item.categoria}}</p>
                <p class="os-percentage">R${{item.money}}</p>
            </li>
        </ul>
    </div>
</div>